<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{pageTitle}}</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <h2>The site is currently under maintenance -_-</h2>
  <p>Some text here. . .</p>
  {{>footer}}
</body>
</html>
